<nav class="navbar navbar-default navbar-fixed-top" role="navigation"
     style="background-color: #13283f;border-color: #ffd44a;">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top" style="color: white;">
                <span class="power-logo" style="padding: 2px 7px !important;">P</span>
                <span class="power-logo" style="padding: 2px 6px !important;">O</span>
                <span class="power-logo" style="padding: 2px 5px !important;">W</span>
                <span class="power-logo" style="padding: 2px 7px !important;">E</span>
                <span class="power-logo" style="padding: 2px 7px !important;">R</span>
                <span class="red-power-logo">BALL</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">PLAY</a>
                </li>
                <li class="page-scroll">
                    <a href="#services">AFFILIATE</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">GITHUB</a>
                </li>
                <li class="page-scroll">
                    <a href=""><span class="fa fa-twitter icon-circle"></span></a>
                </li>
                <li class="page-scroll">
                    <a href=""><span class="fa fa-paper-plane icon-circle" style="padding-left: 6px;"></span></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>